.calculator-body {
    height: 300px;
    width: 200px;
    background-color: #3d3d5c;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
}

.screen {
    background-color: #a1af77;
    text-align: right;
    width: 150px;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    padding: 5px 10px;

}

.buttons-container {
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn {
    height: 30px;
    width: 30px;
    padding: 00px 0;
    font-size: 15px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 5px 0 #fff;
    transition: 0.5s;
}

.btn-equlas {
    height: 70px;
    background-color: #ff6348;
    color: white;
}